<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vdesabou.nike.plus</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>086D0AEB-626F-4B41-A068-BCE379A395AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44D26142-A7F4-4083-B637-93A64885907E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>44D26142-A7F4-4083-B637-93A64885907E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B650C5A-903B-4361-B88A-9CC2C6CAA930</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>61B572CA-BEE7-4A11-8164-0280F9510AB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C06E7DD4-5324-42CE-AB74-84153C854A96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9C2BC892-315D-4037-9E45-8D03F03262C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44D26142-A7F4-4083-B637-93A64885907E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9D823CD1-061C-4977-97A4-BD6DA8DA8B4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61B572CA-BEE7-4A11-8164-0280F9510AB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C06E7DD4-5324-42CE-AB74-84153C854A96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>018A9B7C-C16D-45FF-A637-D16C06A0A3EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E1E1B9A5-C03D-4072-B6D7-6F6CBBBC112F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E4FBE4D-F098-48A4-8F97-531E4E0FEB36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>vdesabou</string>
	<key>description</key>
	<string>Workflow to get all your Nike Plus runs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Nike Plus 1.1.2</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>php -f ./src/action.php -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C06E7DD4-5324-42CE-AB74-84153C854A96</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>38</integer>
				<key>keyword</key>
				<string>nikeplus</string>
				<key>runningsubtext</key>
				<string>Wait for it...</string>
				<key>script</key>
				<string>php -n -f ./src/main.php -- "{query}"</string>
				<key>subtext</key>
				<string>Get the statistics of your Nike+ runs from Alfred</string>
				<key>title</key>
				<string>Nike Plus Runs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>61B572CA-BEE7-4A11-8164-0280F9510AB9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>018A9B7C-C16D-45FF-A637-D16C06A0A3EF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9D823CD1-061C-4977-97A4-BD6DA8DA8B4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nikeplus_kill_update</string>
				<key>subtext</key>
				<string>use it if the library update seems stuck</string>
				<key>text</key>
				<string>Kill update library</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E1E1B9A5-C03D-4072-B6D7-6F6CBBBC112F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f ./src/kill_update.php</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E4FBE4D-F098-48A4-8F97-531E4E0FEB36</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>php -f ./src/action.php -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>3B650C5A-903B-4361-B88A-9CC2C6CAA930</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nikeplus_get_latest_activities</string>
				<key>subtext</key>
				<string>Get up to last 5 activities</string>
				<key>text</key>
				<string>Refresh NikePlus library</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>086D0AEB-626F-4B41-A068-BCE379A395AE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>$args=serialize(array('get_latest_activities' /*other_action*/ ,'' /* url */));

echo "$args";</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>44D26142-A7F4-4083-B637-93A64885907E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>get_latest_activities</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>9C2BC892-315D-4037-9E45-8D03F03262C1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>018A9B7C-C16D-45FF-A637-D16C06A0A3EF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>086D0AEB-626F-4B41-A068-BCE379A395AE</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>1E4FBE4D-F098-48A4-8F97-531E4E0FEB36</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>3B650C5A-903B-4361-B88A-9CC2C6CAA930</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>44D26142-A7F4-4083-B637-93A64885907E</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>61B572CA-BEE7-4A11-8164-0280F9510AB9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9C2BC892-315D-4037-9E45-8D03F03262C1</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>9D823CD1-061C-4977-97A4-BD6DA8DA8B4F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C06E7DD4-5324-42CE-AB74-84153C854A96</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E1E1B9A5-C03D-4072-B6D7-6F6CBBBC112F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/vdesabou/alfred-nike-plus</string>
</dict>
</plist>
